name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.5.1
        with:
          pixi-version: v0.19.0

      - name: Lint with Ruff
        run: pixi run ruff check .

      - name: Run Tests
        run: pixi run pytest
